body{
  backround-color: #696969;
  color: #00ffff
    font-family: Ariel,Helvetica, sans-serif;
  margin: 10% 20%;
}

.line{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #00bfff;
  border-bottom: 1px solid #00bfff;
  backround-color rgba(0,0,0, 0.1)
}
  .pop-outin { animation: 2s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: deepskyblue;
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}
h4{
  font-size: 28px;
  margin-top: 0%;
  margin-left:
}
h5{
  font-size: 18px;
 margin-top: -6%;
  margin-left: 79%;
 
}
h6{
  font-size: 12px;
  margin-top: -2%;
  margin-left: 1%;

}
li{
  font-size: 16px;
}
button {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: deepskyblue;
  border: none;
}
button:hover {
  background: deepskyblue;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #00bfff 0%,
    #4410 29%,
    #ff00ff 67%,
    #00bfff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

